@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class=" col-12 banner ">
            <h1 class="sitetitle"> THE BLAZING <span class="specialword">POT</span></h1>
            <p class="fulldesc">
                <br><span>Always</span> <span class="specialword">Hot,</span>
                <br><span class="middesc">Always</span> <span class="specialword">Ready,</span>
                <br><span class="lastdesc">For Your</span> <span class="specialword">Belly.</span>
            </p>
            <div class="address">
                <input class="addressinput" type="text" placeholder="Enter Your Address">
                <div class="addressicon">
                    <button class="arrowicon" type="submit"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-4 foodimage1">

        </div>
        <div class="col-8 desc1">
            <h2 class="h2desc">
                Quick <span class="specialword">Delivery</span>
            </h2>
            <p class="descinbox">
                We are rated #1 in speed when it comes to delivery.<br>
                No meal is ever recieved cold. You can order at any<br> moment, at 3am or 8pm.
            </p>

        </div> 
    </div>
    <div class="row">
        <div class="col-6 desc2">
            <h2 class="h2desc2">
                Best <span class="specialword">Tasting</span>
            </h2>
            <p class="descinbox2">
                Award winning taste. Highest rated on 20 of the most reputable restaurant rating websites.
                Whether you order and come to eat at our tables, You'll never be disapppointed.
            </p>

        </div>
        <div class="col-2 foodimage2">

        </div>
        <div class="col-2 foodimage3">

        </div>
        <div class="col-2 foodimage4">

        </div>
    </div>
</div>

<div class="container ">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</div>
